 <!-- <section class="container text-center">
<div class="row align-items-start">
        <div class="col d-block"  *ngFor="let product of productList" >
            <div>
                <img alt="" class="resize-image" id="image2" src={{product.productString}} height="300px" width="300px">
                <p>{{product.productName}}</p>
                <p class="Prices p-md-2">{{product.productPrice}}</p>
                <p>{{product.productDescription}}</p>
                <button class="btn btn-outline-primary" (click)="buyProduct(product)"> Buy Now ! </button>
                <button class="btn btn-outline-warning" (click)="deleteProductFormCart(product)"> Remove !</button>
            </div>
     </div>
</div>
</section>  -->

<div class="card mt-5" *ngIf="!isAllow">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col"><h4><b>Shopping Cart</b></h4></div>
                    <div class="col align-self-center text-right text-muted"></div>
                </div>
            </div>    
            <div class="row border-top border-bottom" *ngFor="let product of productDetails; let id=index">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" [src]="product.productString"></div>
                    <div class="col">
                        <div><p>{{product.productName}}</p></div>
                        <div class="row text-muted"></div>
                        <div class="row"></div>
                    </div>
                    <div class="col">
                        <button (click)="increaseQuantity(product)" > + </button>
                        <a class="border">{{product.productQuantity}}</a>
                        <button  (click)="decreaseQuantity(product)" *ngIf="isActive"> - </button>
                    </div>
                    <div class="col"> Price :- {{product.basePrice}}</div>
                    <h6 class="col finalamt"></h6><button class="bi bi-trash btn " style="margin: 5px; color: red;" (click)="deleteProductFormCart(product)" *ngIf="isActive " ></button>
                </div>
            </div>
            <div class="back-to-shop"><button class="btn" style="color: rgb(136, 255, 136);" routerLink="../shop">&leftarrow; Back to shop</button></div>
        </div>
        <div class="col-md-4 summary">
            <div><h5><b>Summary</b></h5></div>
            <hr>
            <div class="col">
                <div class="col" style="padding-left:0;">Total Item : {{productDetails.length}}</div>
                 <!-- <div class="col text-right" >{{calculateTotalPrice()}} {{total |currency:'INR' }}</div> -->
                <div class="col text-right" ></div>
            </div>
            <div class="col">Total Price : {{totalPrice}}
            <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <button class="btn" style="color: aqua;">CHECKOUT</button>
                </div>
            </div>
        </div>
    </div>
    
</div>
<div *ngIf="isAllow">
    <div class="alert alert-info">
      <h1>No products available  in your Cart !</h1>
      <div class="back-to-shop"><button class="btn" style="color: rgb(136, 255, 136);" routerLink="../shop">&leftarrow; Back to shop</button></div>
    </div>
  </div>
